
// Colors
$white:#fff;
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$lightBrightBlue: hsl(245, 68%, 62%);
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);


// Font - Family

$redhat:'Red Hat Display',sans-serif;

// image

$desktopBackground:url(app/images/pattern-background-desktop.svg);