@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// colors 

$cyan:hsl(179, 62%, 43%);
$lightcyan:hsl(179, 47%, 52%);
$color:#AAEEED;
$brightYellow:hsl(71, 73%, 54%);
$darkishyellow:hsl(71, 85%, 39%);
$lightgray:hsl(204, 43%, 93%);
$white:hsl(0, 0%, 100%);
$grayishblue:hsl(218, 22%, 67%);

// font family 

$karla:'Karla',sans-serif;