:root{

    // color 

    --bg-dark-cyan:hsl(185, 75%, 39%);
    --bg-very-dark-blue:hsl(229, 23%, 23%);
    --bg-dark-grayish-blue:hsl(227, 10%, 46%);
    --bg-dark-gray:hsl(0, 0%, 59%);
    --bg-white:hsl(0, 0%, 100%);

    // fonts 

    --kumbh: 'Kumbh Sans', sans-serif;




}